
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
      url('../fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('../fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroy-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
