.burger {
  position: relative;
  width: 30px;
  height: 23px;
  cursor: pointer;
  user-select: none;
  transition: $fast ease-in;


  &:hover .burger__line {
    width: 100%;
  }

  &__line,
  &:after, 
  &:before {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: $black;
    border-radius: 999px;
    transition: $fast;
  } 
  
  &:after, 
  &:before {
    content: '';
    width: 100%;
    display: inline-block;
  }

  &:after {
    bottom: 0;
  }

  &::before {
    top: 0;
  }

  
  &__line {
    width: 60%;
    top: calc(50% - 2px);
    transition: $fast;
  }

  &_toggle .burger__line {
    display: none;
  }

  &_toggle::after {
    transform: rotate(-45deg) translate(7px,-8px);
  }

  &_toggle::before {
    transform: rotate(45deg) translate(6px,7px);
  }
}