.woocommerce-tabs {
  > .tabs {
    display: none;
  }

  .woocommerce-Tabs-panel {
    table {
      tr {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(lg) {
          display: inherit;
        }
      }
    }
  }
}