// root variables
// :root {
// }

// default colors
$white: #ffffff;
$black: #242424;
$dark: #2B2B2B;
$dark-l: #525252;
$grey-dark: #969696;
$grey: #FBFBFB;
$prime: #F55F4B;
$prime-active: #BC1818;
$grey-light: rgba(118, 118, 128, 0.12);

//gradients

// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;

// radius

// shadow

// bg images urls
