// root variables
:root {
}

// default colors
$black: #242424;
$dark: #2B2B2B;
$dark-l: #525252;
$grey: #FBFBFB;
$prime: #F55F4B;
$prime-d: #F55F4B;

//gradients

// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;

// radius

// shadow

// bg images urls
